@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 14.1% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 200 14.1% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 14.1% 4.1%;
    --primary: 79.9 100% 45.1%;
    --primary-foreground: 86.5 71.1% 19.1%;
    --secondary: 240 3.5% 95.8%;
    --secondary-foreground: 240 6% 10%;
    --muted: 180 7.3% 95%;
    --muted-foreground: 191.4 9.2% 44.5%;
    --accent: 180 7.3% 95%;
    --accent-foreground: 197.2 12.9% 10%;
    --destructive: 357.2 100% 45.3%;
    --border: 192 10.8% 89.9%;
    --input: 192 10.8% 89.9%;
    --ring: 192 8% 64.1%;
    --chart-1: 80.9 87.7% 63.6%;
    --chart-2: 83.9 100% 40.5%;
    --chart-3: 85.8 100% 32.4%;
    --chart-4: 85.2 100% 24.6%;
    --chart-5: 83.3 100% 19.4%;
    --radius: 0.625rem;
  }

  .dark:root {
    --background: 200 14.1% 4.1%;
    --foreground: 180 19.5% 98.1%;
    --card: 197.2 12.9% 10%;
    --card-foreground: 180 19.5% 98.1%;
    --popover: 197.2 12.9% 10%;
    --popover-foreground: 180 19.5% 98.1%;
    --primary: 83.9 100% 40.5%;
    --primary-foreground: 86.5 71.1% 19.1%;
    --secondary: 240 4% 15.9%;
    --secondary-foreground: 180 0% 98%;
    --muted: 193.4 12.2% 15.1%;
    --muted-foreground: 192 8% 64.1%;
    --accent: 193.4 12.2% 15.1%;
    --accent-foreground: 180 19.5% 98.1%;
    --destructive: 358.7 100% 69.6%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 191.4 9.2% 44.5%;
    --chart-1: 80.9 87.7% 63.6%;
    --chart-2: 83.9 100% 40.5%;
    --chart-3: 85.8 100% 32.4%;
    --chart-4: 85.2 100% 24.6%;
    --chart-5: 83.3 100% 19.4%;
    --radius: 0.625rem;
  }
}
